@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4dada;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  margin: 1rem 0;
  border-radius: 25px;
  box-shadow: 0px 0px 30px 2px #b7b3b3;
  background-image: linear-gradient(90deg, #dbc9c9, #fff, #fff);
  padding: 0.6rem 2.8rem;
  /* max-width: 90vw; */
  min-height: 80vh;
  min-width: 80vw;
}

#header {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
  font-family: "Roboto Slab", serif;
}
nav {
  display: flex;
}
.icon {
  font-size: 2.2rem;
  color: black;
  margin: 0 0.6rem;
}

a {
  text-decoration: none;
  color: black;
}

.logo h2 {
  font-weight: bolder;
}

#search-box {
  background-color: #e9d4d4;
  border-radius: 25px;
  display: flex;
  align-items: center;
  line-height: 1rem;
  padding: 0.1rem 0.2rem;
  width: 10rem;
  box-shadow: 0px 0px 3px wheat;
}
#search-box i {
  margin-left: 0.2rem;
  font-size: 1.4rem;
  /* transform: scaleX(-1); */
}
#search-box input {
  border: none;
  background: transparent;
  outline: none;
  font-size: 1.1rem;
  overflow: auto;
  margin-left: 0.4rem;
}

.Weather {
  display: flex;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.1px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.current-weather {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 60vw;
  min-height: 60vh;
  justify-content: space-evenly;
}
.distils {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 22vw;
  margin-right: 3rem;
}
#current-weather-info {
  display: flex;
  align-items: center;
}
.line {
  height: 20vh;
  width: 2px;
  background-color: black;
  margin: 0.8rem;
}
.weather-number {
  position: relative;
}
.weather-number h1 {
  font-size: 6rem;
}
.degree {
  font-size: 2.6rem;
  position: absolute;
  top: 0px;
  right: -21px;
}

/* #current-weather-info img {
} */
.weather-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weather-info img {
  height: 7rem;
}

#time-img img {
  height: 45vh;
  width: 45vh;
  border-radius: 50%;
  object-fit: cover;
}
.right {
  max-height: 75vh;
  overflow: hidden;
  /* position: relative; */
}

.recent-search {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  margin-top: 1.4rem;
}

.search-item {
  display: flex;
  align-items: center;
}
.left-side {
  text-align: center;
}
.left-side i {
  font-size: 2.3rem;
}
.left-side p {
  font-size: 0.7rem;
}

.right-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-side div {
  position: relative;
}
.right-side samp {
  position: absolute;
  left: 31%;
  top: -7px;
}

.line2 {
  height: 10vh;
  width: 2px;
  background-color: black;
  margin: 0.8rem;
}

@media only screen and (max-width: 778px) and (min-width: 555px) {
  .current-weather {
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .Weather {
    padding: 2rem;
    justify-content: center;
  }
  .distils {
    margin: 0.5rem;
    align-items: center;
  }
}

@media only screen and (max-width: 555px) {
  body {
    background-color: #fff;
  }
  .container {
    padding: 0.6rem 1rem;
    margin: 0.4rem 0.6rem;
  }
  .icon {
    font-size: 2rem;
    color: black;
    margin: 0 0.2rem;
  }
  .logo h2 {
    display: none;
  }

  .Weather {
    justify-content: center;
  }
  .current-weather {
    margin-bottom: 1.5rem;
  }
  #time-img img {
    height: 40vh;
    width: 40vh;
  }
  .distils {
    margin: 0.4rem 0;
    text-align: center;
    align-items: center;
    margin-right: 0;
  }
}
